<%# repeat code starts %>
<li class="d-flex justify-content-between align-items-center mobile-navigation-list-item">
  <% if current_level.icon&.attachment %>
    <div class="category-icon">
      <%= lazy_image(
              src: main_app.url_for(current_level.icon.attachment.variant(gravity: 'center', resize: '35x35^', extent: '35x35').processed),
              alt: current_level.description || Spree.t('taxon_missing_alt'),
              width: 24,
              height: 24,
              class: 'w-100'
          ) %>
    </div>
  <% else %>
    <div class="category-icon">
      <%= lazy_image(
              src: asset_path('ecommerce-logo.png'),
              alt: current_level.description || Spree.t('taxon_missing_alt'),
              width: 24,
              height: 24,
              class: 'w-100'
          ) %>
    </div>
  <% end %>
  <%= link_to current_level.name, seo_url(current_level), class: 'w-75' %>

  <% if current_level.children.size > 0 %>
    <a class="w-25 text-right mobile-navigation-category-link" data-category="<%= current_level.name.parameterize %>" href="#" aria-label="<%= Spree.t('go_to_category')%>">
      <%= icon(name: 'arrow-right',
               classes: 'd-sm-none spree-icon-arrow spree-icon-arrow-right',
               width: 16,
               height: 16) %>
      <%= icon(name: 'arrow-right',
               classes: 'd-none d-sm-inline spree-icon-arrow spree-icon-arrow-right',
               width: 14,
               height: 27) %>
    </a>
  <% else %>
    <div class="w-25"></div>
  <% end %>

  <ul class="list-unstyled position-absolute mobile-navigation-sublist" data-category="<%= current_level.name.parameterize %>">
    <% if current_level.children.size > 0 %>
      <li class="text-center font-weight-bold mobile-navigation-sublist-header">
        <%= current_level.name %>
      </li>
      <% current_level.children.each do |next_level| %>
        <%= render 'spree/shared/custom_mobile_nested_submenu', current_level: next_level %>
      <% end %>
    <% else %>
      <li class="d-flex justify-content-between align-items-center mobile-navigation-list-item">
        <%= link_to current_level.name, seo_url(current_level), class: 'w-75' %>
      </li>
    <% end %>
  </ul>
</li>
<%# repeat code ends %>