<% url = spree.product_path(product, taxon_id: @taxon&.id) %>
<%= link_to url, class: 'h-100 d-flex flex-column justify-content-between' do %>
  <% cache [common_product_cache_keys, product] do %>
    <%= plp_and_carousel_image(product, image_class) %>
    <% if product.on_sale? %>
      <div class="product-image-discount-tag">
        <div class="font-weight-bold text-center p-1"><%= product_discount_percentage(product)%></div>
      </div>
    <% end %>

    <div>
      <div class="product-component-name" title="<%= product.name %>">
        <%= product.name %>
      </div>
      <div class="product-component-price"><%= display_price(product) %>
        <% if product.on_sale? %>
          <del class="product-component-original-price"><%= Spree::Money.new(product.original_price, currency: current_currency) %></del>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
