<% @body_id = 'home' %>

<div class="homepage-hero-image mb-3 position-relative">
  <img class="lazyload hero-image position-absolute"
    data-src="<%= asset_path('homepage/main_banner.png') %>"
    alt="<%= Spree.t('homepage.summer_collection')%>" />

  <div class="hero-content text-center">
    <div class="homepage-hero-image-text mb-2 mx-auto pb-3 pb-md-4">
      <%#= Spree.t('homepage.summer_collection') %>
    </div>
    <div>
      <%= link_to Spree.t('homepage.shop_now'), spree.products_path, class: 'btn btn-primary spree-btn px-5' %>
    </div>
  </div>
</div>

<!--<hr class="horizontal-divider"/>-->

<%= render partial: 'spree/shared/custom_slider', locals: { slider: Spree::Slide.published.image_slides.location("after-main-banner-section") } %>
<div data-product-carousel data-product-carousel-taxon-id='bestsellers' class="my-3"></div>
<%= render partial: 'spree/shared/custom_slider', locals: { slider: Spree::Slide.published.image_slides.location("after-bestsellers-section") } %>
<%= render 'spree/shared/custom_category_cards'%>
<%= render partial: 'spree/shared/custom_slider', locals: { slider: Spree::Slide.published.image_slides.location("after-category-section") } %>
<div data-product-carousel data-product-carousel-taxon-id='trending' class="mb-3"></div>
<%= render partial: 'spree/shared/custom_slider', locals: { slider: Spree::Slide.published.image_slides.location("after-trending-section") } %>
<%= render partial: 'spree/shared/sub_footer' %>